@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

a {
    text-decoration: none;
}

body {
    background-color: #ff9a52;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 40px;
}

h1 {
    color: #fffff8;
    font-weight: bold;
    font-size: 60px;
}

.container-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #5e405b;
}

button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #ff9a52;
    border-color: transparent;
    font-size: 80px;
    font-weight: bold;
    color: #fffff8;
}

.box-player {
    padding: 50px
}

.box-player span {
    color: #fffff8;
    font-weight: bold;
}

footer {
    background-color: #5e405b;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 12px;
    color: #fffff8;
    font-weight: bold;
}

footer a:hover{
    color: #adadad;
}

